compiler.sdf
compiler.sln
compiler.suo
.vscode/settings.json
compiler/compiler.vcxproj
compiler/compiler.vcxproj.filters
compiler/compiler.vcxproj.user
compiler/Debug/cl.command.1.tlog
compiler/Debug/CL.read.1.tlog
compiler/Debug/CL.write.1.tlog
compiler/Debug/compiler.lastbuildstate
compiler/Debug/compiler.log
compiler/Debug/compiler.obj
compiler/Debug/compiler.pch
compiler/Debug/compiler.Build.CppClean.log
compiler/Debug/compiler.exe.embed.manifest
compiler/Debug/compiler.exe.embed.manifest.res
compiler/Debug/compiler.exe.intermediate.manifest
compiler/Debug/compiler.write.1.tlog
compiler/Debug/compiler_manifest.rc
compiler/Debug/lexer.obj
compiler/Debug/link-cvtres.read.1.tlog
compiler/Debug/link-cvtres.write.1.tlog
compiler/Debug/link.6744-cvtres.read.1.tlog
compiler/Debug/link.6744-cvtres.write.1.tlog
compiler/Debug/link.6744.read.1.tlog
compiler/Debug/link.6744.write.1.tlog
compiler/Debug/link.command.1.tlog
compiler/Debug/link.read.1.tlog
compiler/Debug/link.write.1.tlog
compiler/Debug/mt.command.1.tlog
compiler/Debug/mt.read.1.tlog
compiler/Debug/mt.write.1.tlog
compiler/Debug/rc.command.1.tlog
compiler/Debug/rc.read.1.tlog
compiler/Debug/rc.write.1.tlog
compiler/Debug/stdafx.obj
compiler/Debug/vc100.idb
compiler/Debug/vc100.pdb
Debug/compiler.exe
Debug/compiler.ilk
Debug/compiler.pdb
ipch/compiler-cdccb807/compiler-5e2db7a7.ipch
Debug/compiler.exe.manifest
compiler.opensdf
Debug/*
